/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #044401;
  --gray: #f5f5f5;
  --side:rgb(8, 46, 4);
  --black1: #222;
  --black2: #6dfca4;
  --white: #ffffff;
  --light-grey: #f9f9f9;
  --grey: #dcdcdc;
  --black: #333333;
  --black-light: #666666;
  --success: #35c958;
  --warning: #d6a617;
  --danger: #dc3545;
  --info: #17a2b8;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--black2);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}

.navigation ul li {
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--side);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation .logout:hover {
  color: #f00;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  font-weight: 800;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.logout {
  margin-top: auto;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}


.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.counter {
  color: #ffffff;
  padding: 0px;
  font-size: 3em;
  text-align: center;
  min-width: 10px;
  position: relative;
}

.sign {
  color: #ffffff;
  padding: 0px;
  font-size: 2em;
  text-align: start;
  min-width: 3px;
  position: relative;
}
 
.cardBox {
  position: relative;
  width: 90%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.cardBox .card {
  position: relative;
  background: var(--side);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--white);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3rem;
  color:  rgb(213, 236, 5);
}

.cardBox .card:hover {
  background: rgb(144, 151, 155);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--side);
}

/* ================== Order Details List ============== */

.details {
    
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    border-bottom: 1px solid var(--grey);
}

.details .recentOrders {
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHeader h2 {
    font-weight: 900;
    color: var(--black);
    font-weight: 600;
    text-decoration: darkcyan;

}

.cardHeader .btn {
    padding: 10px 20px;
    background: var(--side);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    transition: background 0.3s;
    cursor: pointer;
}

.cardHeader .btn:hover {
    background: #293541;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

.details table thead td {
    font-weight: 600;
    background-color: var(--side);
    color: var(--white);
    padding: 15px;
}

.details .recentOrders table tr {
    color: var(--black);
    border-bottom: 1px solid var(--grey);
    transition: background 0.3s, color 0.3s;
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--grey);
    color: var(--side);
    font-size: 12px;
}

.details .recentOrders table tr td {
    padding: 15px;
}

.details .recentOrders table tr td:last-child {
    text-align: center;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: center;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status {
    padding: 5px 10px;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
}

.status.delivered {
    background: var(--success);
}

.status.pending {
    background: var(--warning);
}

.status.return {
    background: var(--danger);
}

.status.progress {
    background: var(--warning);
}

.status.complete {
    background: var(--success);
}

.status.declined {
    background: var(--danger);
}

.action-dropdown {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--grey);
    cursor: pointer;
}

.report {
    display: none;
}
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }

 .details .recentOrders {
    padding: 10px;
    
}

.cardHeader h2 {
    font-size: 1px;
}

.cardHeader .btn {
    padding: 0px 16px;
    font-size: 14px;
}

.details .recentOrders {
    padding: 10px;
}

.cardHeader h2 {
    font-size: 18px;
}

.cardHeader .btn {
    padding: 8px 16px;
    font-size: 14px;
}

.details table, .details thead, .details tbody, .details th, .details td, .details tr {
    display: block;
}

.details table thead {
    display: none;
}

.details .recentOrders table tr {
    margin-bottom: 5px;
    border-bottom: 2px solid var(--grey);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tr td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
}

.details .recentOrders table tr td:before {
    content: attr(data-label);
    flex-basis: 50%;
    padding-right: 10px;
    font-weight: 600;
    color: var(--black-light);
}

.details .recentOrders table tr td:last-child {
    text-align: right;
}

}
