
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{

    --FONT-HEADER: "Poppins", sans-serif;
    --FONT--BASIC: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
    color: #043504;
}

img{
    width:100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f0f0;
    background-size: cover;
    color: #043504;
    font-family: var(--FONT--BASIC);

    
}
.header-main h1 .hero h2 .services h2{
    font-family: var(--FONT-HEADER);
}

.header-top {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px ;
    color: #fff;
    z-index: 1000;
    height: 15vh;
}

.header-main div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.header-main nav{
    background-color: rgba(12, 12, 12, 0);
    width:60%;
}
.header-main nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.header-main nav ul li {
    float: left;

}
.header-main nav ul li a{
    color: black;
}

.header-main nav ul li a:hover {
    background-color: #111;
}

.header-main button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    
    color: #0f0f0fe8;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.hero .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.services{ 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 1200px; 
    margin: 50px auto; 
    padding: 20px;
     /*background-color: white; */
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.services, .service, .service-list img{
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
}

.services .service .service-list .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services .service .service-list .description p{
    line-height: 1.6;
}


.services, .about, .clients, .blog {
    padding: 40px 20px;
    
}

.services h2, .about h2, .clients h2, .blog h2 {
    text-align: center;
    margin-bottom: 20px;
}

.service-list, .client-list, .blog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service, .client, .blog-post {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    min-width: 200px;
}
.about{
    
    color: rgb(8, 8, 8);
    font-size: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; 
    }
}
