bcrypt
blinker
certifi
chardet
charset-normalizer
click
cowsay
decorator
Deprecated
dnspython
email_validator
fabric
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
googletrans
greenlet
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
invoke
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
protobuf
requests
rfc3986
sniffio
SQLAlchemy
typing_extensions
urllib3
Werkzeug
wrapt
WTForms
