/* =========== Google Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* =============== Globals ============== */
* {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #044401;
  --gray: #f5f5f5;
  --side: rgb(8, 46, 4);
  --black1: #222;
  --black2: #6dfca4;
  --white: #ffffff;
  --light-grey: #f9f9f9;
  --grey: #dcdcdc;
  --black: #333333;
  --black-light: #666666;
  --success: #35c958;
  --warning: #d6a617;
  --danger: #dc3545;
  --info: #17a2b8;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 260px;
  height: 100%;
  background: var(--black2);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}

.navigation ul li {
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--side);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation .logout:hover {
  color: #f00;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

h6 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 20px 0;
  text-align: left;
}

h6 input[type='date'] {
  padding: 5px;
  margin: 0 10px;
  border: 0;
  border-bottom: 1px solid #034b21;
  border-radius: 4px;
  font-size: 14px;
  width: 150px;
  box-sizing: border-box;
}

h6 .button[type='submit'] {
  padding: 6px 12px;
  background-color: #078a0e;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}

.button[type='submit']:hover {
  background-color: #078a0e;
}

h6 input[type='date']:focus,
.button[type='submit']:focus {
  outline: none;
  border-color: #078a0e;
}

.navigation ul li a .topup {
  position: relative;
  display: block;
  padding: 0 10px;
  font-size: 13px;
  height: 60px;
  font-weight: 900;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  font-weight: 600;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.logout {
  margin-top: auto;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.button-container {
  display: flex;
  gap: 2px;
}
.button-container input[type='button'] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-container input[type='button']:nth-child(1) {
  background-color: #4caf50; /* Green */
  color: white;
}
.button-container input[type='button']:nth-child(1):hover {
  background-color: #45a049;
}
.button-container input[type='button']:nth-child(2) {
  background-color: #f44336; /* Red */
  color: white;
}
.button-container input[type='button']:nth-child(2):hover {
  background-color: #da190b;
}
@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    gap: 5px;
  }
  .button-container input[type='button'] {
    width: 100%;
    box-sizing: border-box;
  }
}
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

/* ======================= Cards ====================== */
.counter {
  color: #ffffff;
  padding: 0px;
  font-size: 3em;
  text-align: center;
  min-width: 10px;
  position: relative;
}

.sign {
  color: #ffffff;
  padding: 0px;
  font-size: 2em;
  text-align: start;
  min-width: 3px;
  position: relative;
}

.cardBox {
  margin-left: 20px;
  position: relative;
  width: 90%;
  height: 90vh;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--side);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--white);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3rem;
  color: rgb(213, 236, 5);
}

.cardBox .card:hover {
  background: rgb(144, 151, 155);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--side);
}

/* ================================== Forms ===================================================== */

.form-group {
  margin-top: 20px;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type='email'],
.form-group input[type='tel'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  width: 30%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #218838;
}

.form-group .error {
  color: red;
  font-size: 14px;
}

.phone-group {
  display: flex;
  align-items: center;
}

.phone-group select {
  width: auto;
  margin-right: 10px;
  flex: 0 0 auto;
}

.phone-group input {
  flex: 1 1 auto;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-grid .form-group-full {
  grid-column: span 2;
}
/* ================== Order Details List ============== */

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  border-bottom: 1px solid var(--grey);
}

.details .recentOrders {
  position: relative;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader h2 {
  font-weight: 900;
  color: var(--black);
  text-decoration: darkcyan;
}
.recentOrders h1 {
  font-weight: 800;
  color: var(--blue);
  text-decoration: darkcyan;
}

.cardHeader .btn {
  padding: 10px 20px;
  background: var(--side);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  transition: background 0.3s;
  cursor: pointer;
}

.cardHeader .btn:hover {
  background: #293541;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.details table thead th {
  font-weight: 600;
  background-color: var(--side);
  color: var(--white);
  padding: 15px;
}

.details .recentOrders table tr {
  color: var(--black);
  border-bottom: 1px solid var(--grey);
  transition: background 0.3s, color 0.3s;
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  background: var(--grey);
  color: var(--side);
  font-size: 12px;
}

.details .recentOrders table tr td {
  padding: 15px;
}

.details .recentOrders table tr td:last-child {
  text-align: center;
}

.details .recentOrders table tr td:nth-child(2),
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.action-dropdown {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--grey);
  cursor: pointer;
}

.status {
  text-align: center;
  padding: 2px;
  border-radius: 4px;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 190%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .main {
    max-width: 100%;
  }
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
  .cardHeader h2 {
    font-size: 20px;
  }
}

@media (max-width: 300px) {
  .main {
    max-width: 100%;
  }
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }

  .details .recentOrders {
    padding: 10px;
  }

  .cardHeader h2 {
    font-size: 1px;
  }

  .cardHeader .btn {
    padding: 0px 16px;
    font-size: 14px;
  }

  .details .recentOrders {
    padding: 10px;
  }

  .cardHeader h2 {
    font-size: 18px;
  }

  .cardHeader .btn {
    padding: 2px 10px;
    font-size: 10px;
  }

  .details table,
  .details thead,
  .details tbody,
  .details th,
  .details td,
  .details tr {
    display: block;
  }

  .details table thead {
    display: none;
  }

  .details .recentOrders table tr {
    margin-bottom: 5px;
    border-bottom: 2px solid var(--grey);
  }

  .details .recentOrders table tr:last-child {
    border-bottom: none;
  }

  .details .recentOrders table tr td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
  }

  .details .recentOrders table tr td:before {
    content: attr(data-label);
    flex-basis: 50%;
    padding-right: 10px;
    font-weight: 600;
    color: var(--black-light);
  }

  .details .recentOrders table tr td:last-child {
    text-align: right;
  }
}
