@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --FONT-HEADER: 'Poppins', sans-serif;
  --FONT--BASIC: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f0f0;
  background-size: cover;
  color: #043504;
  font-family: var(--FONT--BASIC);
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
nav {
  margin-top: 30px;
  padding-right: 100px;
}

nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 40px;
  padding-top: 20px;
}
nav ul li a {
  white-space: nowrap;
  text-decoration: none;
  font-family: var(--FONT--BASIC);
  font-weight: bolder;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  color: #043504;
}

nav ul li a:hover {
  color: #00606f;
  display: block;
  width: 100%;
  transform: scale(1.1);
}

nav ul li a:active {
  color: #00606f;
}

.hero {
  width: 100%;
  height: 500px;
}

.hero img {
  width: 100%;
  height: 500px;
  align-self: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo img {
  display: block;
  width: 40%;
}

.logo h1 {
  margin-top: 25px;
  font-size: 1.6rem;
}

.services {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #4caf50;
}

.services,
.service,
.service-list img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.services .service .service-list .description {
  display: flex;
  flex-direction: column;
  
}

.services .service .service-list .description p {
  line-height: 1.6;
  text-align: justify;
}

.services,
.about,
.clients {
  padding: 40px 20px;
}

.services h2,
.about h2,
.clients h2 {
  text-align: center;
  margin-bottom: 20px;
}

.service-list,
.client-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service,
.client {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  flex: 1;
  text-align: center;
  border-radius: 5px;
  min-width: 200px;
}

.services .service-list .service .description button{
  background-color: #4caf50;
  border-radius: 20px;
  border: 1px solid #745a55;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
}

.about {
  color: #080808;
  font-size: 20px;
  background-color: #4caf50;
  padding: 50px 0; 
}

.about .container {
  max-width: 1200px; 
  margin: 10px auto; 
  justify-content: space-between;
}

.about .card {
  background-color: #fff; 
  padding: 20px;
  margin-bottom: 20px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.about .card h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: var(--FONT-HEADER);
}

.about .card p {
  color: #333; 
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--FONT--BASIC);
}

@media (max-width: 992px) {
  .about .card {
    max-width: 100%; 
  }
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.message-box {
  resize: none;
  height: 150px;
}

.container {
  margin-top: 50px;
}

.contact {
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.contact h2 {
  margin-bottom: 20px;
}

.info-list {
  list-style: none;
  padding: 0;
}

.info-list li {
  margin-bottom: 10px;
}

.info-list li i {
  margin-right: 10px;
}

.social {
  margin-top: 20px;
}

.social a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.footer {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
}

.contact, .location {
  color: white;
  padding: 20px;
}

.contact h2, .location h2 {
  margin-bottom: 20px;
  text-align: center;
}

.info-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.info-list li {
  margin-bottom: 10px;
}

.info-list li i {
  margin-right: 10px;
}

.social a{
  color: white;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
}

.map {
  margin-top: 20px;
  text-align: center;
}

.map iframe {
  width: 100%;
  max-width: 400px;
  height: 300px;
  border-radius: 8px;
  border: 0;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}
