<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.jpg" type="jpg">
    <title>Eco Clean Solution | Customers</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../static/admin-dash.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">
                        <img class="icon" src="../static/images/logo.png" alt="">
                        <span class="topup">ECO CLEAN SOLUTION</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin') }}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin' ) }}">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Requests</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('customers' ) }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('report') }}">
                        <span class="icon">
                            <ion-icon name="reader-outline"></ion-icon>
                        </span>
                        <span class="title">Report</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('logout' ) }}" class="logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>SERVICES DELIVERED REPORT</h2>
                    </div>
                    <!-- <form action="{{ url_for('report') }}" method="post">
                        <h6>From: {{ form.datefrom }} To: {{ form.datefrom }} 
                            {{ form.submit(class="button")}}
                        </h6>
                    </form> -->
                    
                    <table class="report" id="orderTable">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Customer name</th>
                                <th>Service Name</th>
                                <th>Status</th>
                                <th> Booked Date</th>
                                <th>Scheduled Date</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in ordersReq %}
                            <tr>
                            <td > {{ order.id }} </td>
                            <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                            <td>{{ order.order_services[0].service.service_name }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.timestamp }}</td>
                            <td>{{ order.scheduled_date }}</td>   
                            <td>{{ order.user.sector }}</td>  

                            </tr>
                           {% endfor %}

                        </tbody>
                    </table>
                </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="../static/admin-dash.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
