<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/images/logo.jpg" type="jpg" />
    <title>ECS | Services Booking</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../static/booking.css" />
  </head>

  <body>
    <div class="container">
      <div>
        <a href="{{ url_for('index') }}"
          ><ion-icon name="arrow-back-circle-outline"></ion-icon
        ></a>
      </div>
      <h2>Book a Service</h2>
      <form
        action="{{ url_for('book', service_name=form.serviceName.data) }}"
        method="POST"
      >
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.serviceName.label }} {{ form.serviceName(readonly=True) }}
        </div>
        <div class="form-group">
          {{ form.price.label }} {{ form.price(readonly=True) }}
        </div>
        <div class="form-group">
          {{ form.date.label }} {{ form.date }} {% if form.date.errors %} {% for
          error in form.date.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %} {% endif %}
        </div>
        <div>Time: {{ time }}</div>
        {{ form.submit(class_="button") }}
      </form>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
