
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.jpg" type="jpg">
    <title>ECS | Services Booking</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="static/booking.css">
</head>

<body>
    <div class="container">
        <h2>Book a Service</h2>
        <form action="/submit-booking" method="POST">
            <div class="form-group">
                <label for="serviceId">Service ID</label>
                <input type="text" id="serviceId" name="serviceId" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="time">Time</label>
                <input type="time" id="time" name="time" required>
            </div>
            <div class="form-group">
                <label for="time">Amount</label>
                <input type="text" id="amount" name="amount" required>
            </div>
            <button type="submit">Book Service</button>
        </form>
    </div>
    <!-- =========== Scripts =========  -->
    <script src="static/booking.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
