<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.jpg" type="jpg">
    <title>Eco Clean Solution | Customers</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../static/admin-dash.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{{ url_for('admin') }}">
                        <img class="icon" src="../static/images/logo.png" alt="">
                        <span class="topup">ECO CLEAN SOLUTION</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin') }}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin') }}">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Requests</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('customers') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('report') }}">
                        <span class="icon">
                            <ion-icon name="reader-outline"></ion-icon>
                        </span>
                        <span class="title">Report</span>
                    </a>
                <li>
                    <a href="{{ url_for('logout') }}" class="logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>REGISTERED CUSTOMERS</h2>
                    </div>
                    <table class="report" id="orderTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>District</th>
                                <th>Sector</th>
                                <th>Cell</th>
                                <th>Village</th>
                                <th>Email</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for user in users %}
                        <tbody>
                            <tr>
                                <td>{{ user.id }}</td>
                                <td >{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.district }}</td>
                            <td>{{ user.sector }}</td>
                            <td>{{ user.cell }}</td>
                            <td>{{ user.village }}</td>
                            <td>{{ user.street }}</td>
                            <td>{{ user.email }}</td>
                            <td class="button-container">
                            <input type="button" value="Delete" onclick="deleteUser(2)">
                            </td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="../static/admin-dash.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>