<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Eco clean solutions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
    
  <link href="img/logo.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
  
  <link href="css/style.css" rel="stylesheet">
</head>
<!-- ============================================================
                          HOME SECTION
============================================================ -->
<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-fluid"></a>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">HOME</a></li>
          <li><a class="nav-link" href="login.html">DASHBOARD</a></li>
          <li><a class="nav-link  scrollto" href="#footer">CONTACT US</a></li>
          <li><a class="nav-link  scrollto" href="#journal">SERVICES</a></li>
          <li><a class="nav-link  scrollto" href="signup.html">REGISTER</a></li>
          <li><a class="nav-link  scrollto" href="login.html">LOGIN</a></li>

        </ul>
          
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  
  <div id="hero" class="home">
    <div class="container">
      <div class="hero-content">
        <h1 style="font-size: 80px;
        font-weight: 1000;
        margin-bottom: 20px;
        margin-top: 10%;
        text-transform: uppercase;
        color: #fff;">ECO CLEAN SOLUTION</h1>
        <h2><span class="typed" data-typed-items="Our dedication is to have a clean and smooth environment"></span></h2><br><br>
        <a href="/EcoApp/templates/login.html">GET STARTED</a>
      </div>
          
      </div>
    </div>
  </div>
<!-- ============================================================
                          MISSION AND VISION SECTION
============================================================ -->

<section id="education" class="paddsection">
  <div class="container">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-6">
          <div class="education-item">
            <h3 class="name"><i class="fas fa-target"></i> Mission</h3>
            <p class="degree"> We transform waste management with sustainable practices, enhancing community well-being. Our goal is to provide comprehensive solutions that promote recycling, support a circular economy, and engage communities in responsible waste management for a healthier, more sustainable planet</p>
      
          </div>
        </div>
        <div class="col-md-6">
          <div class="education-item">
            <h3 class="name"><i class="fas fa-"></i>Vision</h3>
            <p class="degree"> We envision a world with minimal waste, maximized resources, and thriving communities. Our mission is to lead in sustainable waste management, creating zero-waste communities through innovation, collaboration, and a commitment to environmental stewardship.<br><br></p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
  
    <div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h1>OUR SERVICES</h1>

        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            <section class="services">
              <div class="service-list">
                <div class="service">
                  <img
                    src="https://s3media.angieslist.com/s3fs-public/big-black-dumpster-driveway.jpeg"
                  />
                  <div class="description">
                    <h3>Dumpster Rental</h3>
                    <p>Reliable dumpster rental for residential, commercial, and industrial waste management. Eco-friendly, and flexible priced.</p>
                  <button>BOOK NOW</button>
                  </div>
                </div>
                <div class="service">
                  <img
                    src="https://miro.medium.com/v2/resize:fit:1400/1*hq726b90p6wKlaImBUmYzg.jpeg"
                  />
                  <div class="description">
                    <h3>Secure destruction</h3>
                    <p>Provides safe, confidential disposal of sensitive documents and materials, ensuring privacy and compliance.<br></p>
                    <button>BOOK NOW</button>
                  </div>
                </div>
                <div class="service">
                  <img
                    src="https://geosyntec.com/media/k2/items/cache/bdd715ae499fc55a8ac2da03466117f2_XL.jpg"
                  />
                  <div class="description">
                    <h3>Residential Recycling</h3>
                    <p>Specialized program efficiently collects and recycles paper, plastics, glass, metals for a greener community.</p>
                    <button>BOOK NOW</button>
                  </div>
                </div>
        
                <div class="service">
                  <img
                    src="https://www.oddjobsareusinc.com/wp-content/uploads/2023/12/junk-removal-fairfax-area-scaled-1.jpg"
                  />
                  <div class="description">
                    <h3>Junk <br>Removal</h3>
                    <p>Quickly and efficiently remove unwanted items, ensuring eco-friendly disposal for homes and businesses.</p>
                    <button>BOOK NOW</button>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>

    </div>


    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">GET IN TOUCH</h2>

                <ul class="contact-details">
                  <li><span> Norrsken House Kigali, 1 KN 78st, Kigali</span></li>
                  <li><span>Kigali, Rwanda</span></li>
                  <li><span> +250 782 842 139</span></li>
                  <li><span>info@ecocleansolution.com</span></li>
                

              </div>
            </div>
            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">LOCATION</h2>

                <ul class="contact-details">
                  
                  <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.5050470011747!2d30.05741827507267!3d-1.9511718980311334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca5a86d814c61%3A0x7d3b83e12b1c11a9!2sNorrsken%20House%20Kigali!5e0!3m2!1sen!2srw!4v1718736783706!5m2!1sen!2srw" 
                  allowfullscreen="" 
                  loading="lazy" style="width: 100%;
                  max-width: 400px;
                  height: 300px;
                  border-radius: 8px;
                  border: 0;" >
                </iframe>

              </div>
            </div>
            
    </div></div>
  </div>
  </div>  
 <footer>
  <p class="text-center"><b>&copy; 2024 ECO CLEAN SOLUTION. All rights reserved.<b></b></p>
 </footer>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/typed.js/typed.umd.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="js/main.js"></script>
</main>
</body>
</html>

