<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECO CLEAN SOLUTION</title>
    <link rel="stylesheet" href="../static/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    <header>
      <div class="logo">
        <img src="../static/images/logo1.png" alt="" />
        <h1>ECO CLEAN SOLUTIONS</h1>
      </div>

      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">HOME</a></li>
          <li><a href="{{ url_for('register') }}">REGISTER</a></li>
          <li><a href="#">DASHBOARD</a></li>
          <li><a href="#">CONTACT US</a></li>
          <li><a href="{{ url_for('login') }}">LOG IN</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../static/images/trash3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../static/images/trash1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>

          <div class="carousel-item">
            <img
              src="../static/images/trash2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section class="services">
      <h2>Waste Services</h2>
      <div class="service-list">
        <div class="service">
          <img
            src="https://s3media.angieslist.com/s3fs-public/big-black-dumpster-driveway.jpeg"
          />
          <div class="description">
            <h3>Dumpster Rental</h3>
            <p>
              We provide temporary containers, typically large metal bins, for
              the collection and disposal of waste or debris.
            </p>
          </div>
        </div>
        <div class="service">
          <img
            src="https://miro.medium.com/v2/resize:fit:1400/1*hq726b90p6wKlaImBUmYzg.jpeg"
          />
          <div class="description">
            <h3>Garbage Pickup</h3>
            <p>We provide service of collecting and removing the garbage.</p>
          </div>
        </div>
        <div class="service">
          <img
            src="https://geosyntec.com/media/k2/items/cache/bdd715ae499fc55a8ac2da03466117f2_XL.jpg"
          />
          <div class="description">
            <h3>Residential Recycling</h3>
            <p>
              We provide a program targeted for collection of recyclable
              materials from a residential building.
            </p>
          </div>
        </div>

        <div class="service">
          <img
            src="https://www.oddjobsareusinc.com/wp-content/uploads/2023/12/junk-removal-fairfax-area-scaled-1.jpg"
          />
          <div class="description">
            <h3>Junk Removal</h3>
            <p>
              We provide a service of collecting and disposal of unwanted items,
              such as outdated appliances, furniture, and miscellaneous waste,
              like old clothes and general debris, from homes or businesse.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="about Us" id="about">
      <h2>MISSION</h2>
      <p>
        We dedicated to transforming waste management through innovative,
        sustainable practices that protect our environment and enhance community
        well-being. We aim to provide comprehensive waste management solutions
        that reduce waste, promote recycling, and support a circular economy.
        Our commitment is to educate and engage communities, businesses, and
        governments in adopting responsible waste management practices that lead
        to a cleaner, healthier planet.
      </p>
      <h2>VISION</h2>
      <p>
        We envision world where waste is minimized, resources are maximized, and
        communities thrive in a clean and healthy environment. Our vision is to
        be a global leader in sustainable waste management, driving innovation
        and fostering collaboration to create zero-waste communities. We strive
        for a future where every individual and organization takes
        responsibility for their environmental impact, contributing to a
        sustainable, waste-free world.
      </p>
    </section>
    <section class="blog">
      <h2 id="service">The Latest From Our Blog</h2>
      <div class="blog-list">
        <div class="blog-post">
          <h3>Business Waste & Recycling FAQs</h3>
          <p>What happens to business waste after you've collected it?...</p>
        </div>
        <div class="blog-post">
          <h3>How Soon Can I Set Up A Waste Collection Waste Disposal?</h3>
          <p>
            Find out the timelines and steps to set up a waste collection
            service...
          </p>
        </div>
        <div class="blog-post">
          <h3>
            An Addendum to Written Testimony Submitted for the Hearing on...
          </h3>
          <p>
            Insights and additional information on waste management
            legislation...
          </p>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 ECO CLEAN SOLUTION. All rights reserved.</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
