<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECO CLEAN SOLUTION</title>
    <link rel="stylesheet" href="../static/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/EcoApp/static/images/logo.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css"
    />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../static/images/logo1.png" alt="" />
      </div>

      <nav>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">REGISTER</a></li>
          <li><a href="#">DASHBOARD</a></li>
          <li><a href="#">CONTACT US</a></li>
          <li><a href="#">LOG IN</a></li>
        </ul>
      </nav>
    </header>
    <div id="hero" class="home">
      <div class="container">
        <div class="hero-content">
          <h1>ECO CLEAN SOLUTION</h1>
          <h3>
            We are
            <span class="typed" data-typed-items="Waste Management"></span>
          </h3>
          <p>ECO CLEAN SOLUTION</p>
        </div>
      </div>
    </div>

    <section class="services">
      <h2>Waste Services</h2>
      <div class="service-list">
        <div class="service">
          <img
            src="https://s3media.angieslist.com/s3fs-public/big-black-dumpster-driveway.jpeg"
          />
          <div class="description">
            <h3>Dumpster Rental</h3>
            <p>
              We supply durable metal bins for temporary waste collection,
              ensuring efficient disposal. Trust our reliable service for clean,
              organized environments, perfect for short-term projects or ongoing
              needs.
            </p>

            <button>
              <a
                style="text-decoration: none"
                href="{{ url_for('book', service_name='Dumpster Rental') }}"
                >BOOK NOW</a
              >
            </button>
          </div>
        </div>
        <div class="service">
          <img
            src="https://miro.medium.com/v2/resize:fit:1400/1*hq726b90p6wKlaImBUmYzg.jpeg"
          />
          <div class="description">
            <h3>Secure Destruction</h3>
            <p>
              We specialize in confidential waste collection and disposal,
              ensuring secure and clean environments with professionalism and
              efficiency. Our dependable service effectively meets diverse
              residential and commercial needs.
            </p>
            <button>
              <a
                style="text-decoration: none"
                href="{{ url_for('book', service_name='Secure Destruction') }}"
                >BOOK NOW</a
              >
            </button>
          </div>
        </div>
        <div class="service">
          <img
            src="https://geosyntec.com/media/k2/items/cache/bdd715ae499fc55a8ac2da03466117f2_XL.jpg"
          />
          <div class="description">
            <h3>Residential Recycling</h3>
            <p>
              We offer a specialized program for residential recyclable
              collection, efficiently gathering and recycling paper, plastics,
              glass, and metals, ensuring a cleaner, greener community.
            </p>
            <button>
              <a
                style="text-decoration: none"
                href="{{ url_for('book', service_name='Residential Recycling') }}"
                >BOOK NOW</a
              >
            </button>
          </div>
        </div>

        <div class="service">
          <img
            src="https://www.oddjobsareusinc.com/wp-content/uploads/2023/12/junk-removal-fairfax-area-scaled-1.jpg"
          />
          <div class="description">
            <h3>Junk Removal</h3>
            <p>
              We provide removal services for unwanted items from homes or
              businesses, including appliances, furniture, clothes, and debris,
              ensuring quick, efficient, and eco-friendly disposal with
              exceptional professionalism and Maintanance.
            </p>
            <button>
              <a
                style="text-decoration: none"
                href="{{ url_for('book', service_name='Junky Removal') }}"
                >BOOK NOW</a
              >
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="about" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <h2>MISSION</h2>
              <p>
                We transform waste management with sustainable practices,
                enhancing community well-being. Our goal is to provide
                comprehensive solutions that promote recycling, support a
                circular economy, and engage communities in responsible waste
                management for a healthier, more sustainable planet.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <h2>VISION</h2>
              <p>
                We envision a world with minimal waste, maximized resources, and
                thriving communities. Our mission is to lead in sustainable
                waste management, creating zero-waste communities through
                innovation, collaboration, and a commitment to environmental
                stewardship.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container form-container">
        <h2 class="text-center">Support Form</h2>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              class="form-control message-box"
              id="message"
              placeholder="Enter your message"
              maxlength="300"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </section>
    <footer class="footer mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 contact">
            <h2>Contact Us</h2>
            <ul class="info-list">
              <li><i class="fas fa-phone"></i> +250 782 842 139</li>
              <li><i class="fas fa-envelope"></i> info@ecocleansolution.com</li>
              <li>
                <i class="fas fa-map-marker-alt"></i> Norrsken House Kigali, 1
                KN 78st, Kigali
              </li>
            </ul>
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-6 location">
            <h2>Our Location</h2>
            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.5050470011747!2d30.05741827507267!3d-1.9511718980311334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca5a86d814c61%3A0x7d3b83e12b1c11a9!2sNorrsken%20House%20Kigali!5e0!3m2!1sen!2srw!4v1718736783706!5m2!1sen!2srw"
                allowfullscreen=""
                loading="lazy"
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center">
        &copy; 2024 ECO CLEAN SOLUTION. All rights reserved.
      </p>
    </footer>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
