<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.jpg" type="jpg">
    <title>Eco Clean Solution | Customers</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="static/admin-dash.css">
    <link rel="stylesheet" href="static/user-dash.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
     <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="user-dash.html">
                        <img class="icon" src="images/logo.png" alt="">
                        <span class="topup">ECO CLEAN SOLUTION</span>
                    </a>
                </li>

                <li>
                    <a href="user-dash.html">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Report</span>
                    </a>
                </li>

                <li>
                    <a href="settings.html">
                        <span class="icon">
                            <ion-icon name="cog-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>

                    <li>
                    <a href="login.html" class="logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2><U>REQUESTED SERVICES</U></h2>
                    </div>
                    <h6>From: <input type="date"> To: <input type="date"> <button type="submit">Check</button></h6>
                    <table >
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Date</td>
                                <td>Time</td>
                                <td>Price/Month</td>
                                <td>Status</td>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td >Residential Cleaning</td>
                                <td >10/06/2024</td>
                                <td >10:30 AM</td>
                                <td >$300</td>
                                <td ><span class="status delivered">Complete</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td >Residential Cleaning</td>
                                <td >10/06/2024</td>
                                <td >10:30 AM</td>
                                <td >$300</td>
                                <td ><span class="status pending">Progress</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td >Residential Cleaning</td>
                                <td >10/06/2024</td>
                                <td >10:30 AM</td>
                                <td >$300</td>
                                <td ><span class="status declined">Declined</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td >Residential Cleaning</td>
                                <td >10/06/2024</td>
                                <td >10:30 AM</td>
                                <td >$300</td>
                                <td ><span class="status delivered">Completed</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
    <!-- =========== Scripts =========  -->
    <script src="static/admin-dash.js"></script>
    <script src="static/user-dash.css"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
