<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/logo.jpg') }}"
      type="image/jpg"
    />
    <title>ECS | User Dashboard</title>
    <!-- ======= Styles ====== -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='user-dash.css') }}"
    />
  </head>
  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div>
        <a href="{{ url_for('index') }}"
          ><ion-icon name="arrow-back-circle-outline"></ion-icon
        ></a>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="{{ url_for('index') }}">
              <img
                class="icon"
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt="Logo"
              />
              <span class="topup">ECO CLEAN SOLUTION</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('user_dash') }}">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('settings') }}">
              <span class="icon">
                <ion-icon name="cog-outline"></ion-icon>
              </span>
              <span class="title">Settings</span>
            </a>
          </li>
          
          <li>
            <a href="{{ url_for('logout') }}" class="logout">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Log Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
        </div>
        <!-- ======================= Cards ================== -->
        <div class="cardBox" id="dashboard">
          <div class="card">
            <div>
              <div class="sign">+</div>
              <div class="counter" data-target="{{ declined_nber }}"></div>
              <div class="cardName">Declined Services</div>
            </div>
            <div class="iconBx">
              <ion-icon name="close-circle-outline"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div>
              <div class="sign">+</div>
              <div class="counter" data-target="{{ completed_nber }}">0</div>
              <div class="cardName">Completed Services</div>
            </div>
            <div class="iconBx">
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </div>
          </div>
        </div>
        <!-- ================ Order Details List ================= -->
        <div class="details" id="dashboard">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>RECENT ORDERS</h2>
              <a href="#" class="btn" id="viewAllBtn">View All</a>
            </div>
            <table class="report" id="orderTable">
              <thead>
                <tr>
                  <td>ID</td>
                  <td>Name</td>
                  <td>Date</td>
                  <td>Price/Month</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                {% for order in current_orders %}
                <tr>
                  <td data-label="ID">{{ order.id }}</td>
                  <td data-label="Name">
                    {{ order.order_services[0].service.service_name }}
                  </td>
                  <td data-label="Date">{{ order.scheduled_date }}</td>
                  <td data-label="Price">
                    {{ order.order_services[0].service.price }}
                  </td>
                  <td data-label="Status">
                    <span>{{ order.status }}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- =========== Scripts =========  -->
        <script src="{{ url_for('static', filename='user-dash.js') }}"></script>
        <!-- ====== ionicons ======= -->
        <script
          type="module"
          src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
          nomodule
          src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
      </div>
    </div>
  </body>
</html>
