
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.jpg" type="jpg">
    <title>Eco Clean Solution | User</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="static/user-dash.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#dashboard">
                        <img class="icon" src="logo.png" alt="">
                        <span class="title">ECO CLEAN SOLUTION</span>
                    </a>
                </li>

                <li>
                    <a href="#dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#services">
                        <span class="icon">
                            <ion-icon name="cart-outline"></ion-icon>
                        </span>
                        <span class="title">Services</span>
                    </a>
                </li>

                <li>
                    <a href="#report">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Report</span>
                    </a>
                </li>

                <li>
                    <a href="#settings">
                        <span class="icon">
                            <ion-icon name="cog-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>

                    <li>
                    <a href="login.html" class="logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

            </div>

    <!-- ================ Order Details List ================= -->
    <div class="details" id="dashboard">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Recent Orders</h2>
                <a href="#" class="btn" id="viewAllBtn">View All</a>
            </div>

            <table class="report" id="orderTable">
                <thead>
                    <tr>
                        <td>Company Name</td>
                        <td>Service</td>
                        <td>Date</td>
                        <td>Price / Month</td>
                        <td>Status</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td data-label="Name">Super clean Rwanda</td>
                        <td data-label="Name">Fire damage cleanup</td>
                        <td data-label="Price">10/06/2024</td>
                        <td data-label="Payment">$300</td>
                        <td data-label="Status"><span class="status delivered">Done</span></td>
                    </tr>

                    <tr>
                        <td data-label="Name">Super clean Rwanda</td>
                        <td data-label="Name">24/7 waste collection</td>
                        <td data-label="Price">09/06/2024</td>
                        <td data-label="Payment">$100</td>
                        <td data-label="Status"><span class="status pending">Pending</span></td>
                    </tr>

                    <tr>
                        <td data-label="Name">Super clean Rwanda</td>
                        <td data-label="Name">Emergence Dumpster</td>
                        <td data-label="Price">07/06/2024</td>
                        <td data-label="Payment">$180</td>
                        <td data-label="Status"><span class="status delivered">Done</span></td>
                    </tr>

                    <tr>
                        <td data-label="Name">Super clean Rwanda</td>
                        <td data-label="Name">Environmental Remediation</td>
                        <td data-label="Price">05/06/2024</td>
                        <td data-label="Payment">$130</td>
                        <td data-label="Status"><span class="status declined">Declined</span></td>
                    </tr>

                    <tr>
                        <td data-label="Name">Super clean Rwanda</td>
                        <td data-label="Name">Industrial Accident cleanup</td>
                        <td data-label="Price">01/06/2024</td>
                        <td data-label="Payment">$115</td>
                        <td data-label="Status"><span class="status delivered">Done</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
    <!-- =========== Scripts =========  -->
    <script src="static/user-dash.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>